---
import BlogCard from '@/components/blog-card.astro'
import ProjectCard from '@/components/project-card.astro'
import Link from '@/components/link.astro'
import PageHead from '@/components/page-head.astro'
import NoticeBoard from '@/components/notice-board.astro'

import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { getAllProjects } from '@/lib/data-utils'

const notes = await getRecentPosts(SITE.featuredPostCount)
const projects = await getAllProjects()
---

<Layout class="max-w-5xl">
  <PageHead slot="head" title="Home" />

  <!-- 以下の <section> ボックスは消去する可能性が高い -->
  <section class="border">
    <div class="flex flex-col space-y-1.5 p-6">
      <h2 class="text-4xl leading-none font-medium">PortFolio</h2>

      <p class="text-muted-foreground text-sm">
        望月恒星 <span class="font-medium"> (silvex-3077) </span>
      </p>
    </div>
  </section>

  <section>
    <NoticeBoard></NoticeBoard>
  </section>
  
  <section class="flex flex-col gap-y-4">
    <!-- note (学習記録などを掲載する予定ですが、現在は非表示中) -->
    <!--
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col">
      {
        notes.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/note"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
    -->

    <!-- プロジェクト見出し -->
    <h2 class="mb-4 text-2xl font-medium">制作物</h2>
    <!-- プロジェクトリスト -->
    <div class="flex flex-col gap-4">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</Layout>
